{erl_opts, [debug_info]}.

{plugins, [rebar3_hex, rebar3_auto, rebar3_run, steamroller]}.

{
  deps,
  [
    {gun, ".*", {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
    {erlexec, "~> 1.0"},
    cowboy,
    %{erlmpd, ".*", {git, "https://github.com/jagguli/erlmpd.git",{branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.10.0"}}},
    {erlcron, {git, "https://github.com/erlware/erlcron.git", {branch, "1.1.2"}}},
    {ipfs, {git, "https://github.com/octaspace-project/ipfs.git", {branch, "master"}}},
    yamerl
  ]
}.

{shell, [{config, "sys.config"}, {apps, [cowboy, asyncmind]}]}.

{
  relx,
  [
    {
      release,
      {asyncmind, git},
      [
        kernel,
        stdlib,
        sasl,
        public_key,
        ssl,
        os_mon,
        crypto,
        inets,
        gun,
        jsx,
        erlcron,
        cowboy,
        ipfs,
        yamerl,
        ipfs,
        asyncmind
      ]
    },
    {dev_mode, true},
    {include_erts, true},
    {extended_start_script, true}
  ]
}.
