%%% -*- mode: erlang; erlang-indent-level: 2; -*-

{erl_opts, [debug_info]}.

{plugins, [rebar3_hex, rebar3_run, steamroller, pc]}.

{
  deps,
  [
    {gun, ".*", {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
    {erlexec, "~> 1.0"},
    cowboy,
    %{erlmpd, ".*", {git, "https://github.com/jagguli/erlmpd.git",{branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.10.0"}}},
    {erlcron, {git, "https://github.com/erlware/erlcron.git", {branch, "1.1.2"}}},
    {ipfs, {git, "https://github.com/octaspace-project/ipfs.git", {branch, "master"}}},
    {fast_yaml, {git, "https://github.com/processone/fast_yaml.git", {branch, "master"}}},
    %{aesophia, {git, "https://github.com/aeternity/aesophia.git"}},
    {mustache, {git, "https://github.com/mojombo/mustache.erl.git", {branch, "master"}}},
    {datestring, {git, "https://github.com/strange/datestring.git", {branch, "master"}}},
    {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {csound, ".*", {git, "https://github.com/hengestone/csound-erlang", {branch, "master"}}},
    {gproc, "0.9.1"},
    poolboy,
    {wrek, ".*", {git, "https://github.com/rkallos/wrek.git", {branch, "master"}}},
    {cowboy_swagger, "2.7.0"},
    {trails, "2.3.1"}
    %{emqtt, {git, "https://github.com/emqx/emqtt", {tag, "v1.2.0"}}}
  ]
}.

{
  shell,
  [{config, "config/sys.config"}, {vm_args, "config/vm_prod.args"}, {apps, [cowboy, asyncmind]}]
}.

{
  relx,
  [
    {
      release,
      {asyncmind, {git, short}},
      [
        kernel,
        stdlib,
        sasl,
        public_key,
        ssl,
        os_mon,
        crypto,
        inets,
        gun,
        jsx,
        erlcron,
        cowboy,
        ipfs,
        fast_yaml,
        ipfs,
        poolboy,
        mustache,
        erlexec,
        datestring,
        gproc,
        wrek,
        asyncmind
      ]
    },
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
  ]
}.

{provider_hooks, [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}.

% https://github.com/blt/jiffy/blob/master/rebar.config
{port_specs, [{"priv/x11.so", ["c_src/*.c"]}]}.

{port_env, [{"linux", "LDFLAGS", "$LDFLAGS -shared -lX11"}]}.
