{erl_opts, [debug_info]}.

{plugins, [rebar3_hex, rebar3_auto, rebar3_run, steamroller]}.

{
  deps,
  [
    {gun, ".*", {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
    {erlexec, "~> 1.0"},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.10.0"}}}
  ]
}.

{shell, [{config, "sys.config"}, {apps, [asyncmind]}]}.
