[
 {kernel, [
  {logger_level, debug}
 ]},
 {erlcron, [
     {crontab, [
         {{daily, {11, 30, pm}}, {asyncmind, dnd, [on]}},
         {{daily, {08, 32, am}}, {asyncmind, dnd, [off]}},
         %%{{daily, {every, {1, min}, {between, {11,30, pm}, {11, 35, pm}}}},
         %% {asyncmind, dnd, [on]}},
         %%{{daily, {every, {1, min}, {between, {00,00, am}, {9, 25, am}}}},
         %% {asyncmind, dnd, [on]}},
         %%{{daily, {every, {1, min}, {between, {09,30, am}, {9, 35, am}}}},
         %% {asyncmind, dnd, [off]}},

         {{once, {12, 23, 32}}, {io, fwrite, ["Hello, world!~n"]}},

         {{daily, {every, {23, sec}, {between, {3, pm}, {3, 30, pm}}}},
          {io, fwrite, ["Hello, world!~n"]}}

     ]}
 ]}
].
