[Unit]
Description=Asyncmind service
After=network.target

[Service]
ExecStart=/usr/lib/asyncmind/bin/asyncmind foreground -config /etc/asyncmind/sys.config
Restart=always
WorkingDirectory=/var/lib/asyncmind


[Install]
WantedBy=default.target
