%%% -*- mode: erlang; erlang-indent-level: 2; -*-
[
 {kernel, [
        {distributed_cookie, "aefoh8Faeph4aeg6Pr"},
        {logger_level, debug}
    ]},
 {erlcron, [
        {crontab, [
                    {{daily, {11, 30, pm}}, {asyncmind, dnd, [on]}},
                    {{daily, {08, 32, am}}, {asyncmind, dnd, [off]}},
                    %%{{daily, {every, {1, min}, {between, {11,30, pm}, {11, 35, pm}}}},
                    %% {asyncmind, dnd, [on]}},
                    %%{{daily, {every, {1, min}, {between, {00,00, am}, {9, 25, am}}}},
                    %% {asyncmind, dnd, [on]}},
                    %%{{daily, {every, {1, min}, {between, {09,30, am}, {9, 35, am}}}},
                    %% {asyncmind, dnd, [off]}},

                    {{once, {12, 23, 32}}, {io, fwrite, ["Hello, world!~n"]}},

                    {{daily, {every, {23, sec}, {between, {3, pm}, {3, 30, pm}}}},
                    {io, fwrite, ["Hello, world!~n"]}},
                    % Backup Bash shell history every hour to ~/XDrive/terminal/history
                   {{daily, {every, {60, sec}}}, {asyncmind, run, ["/usr/bin/rsync -a --delete ~/.bash_history ~/XDrive/terminal/history/bash_history", [stdout]]}},
                % Backup Zsh shell history every hour to ~/XDrive/terminal/history
                   {{daily, {every, {60, sec}}}, {asyncmind, run, ["/usr/bin/rsync -a --delete ~/.zsh_history ~/XDrive/terminal/history/zsh_history", [stdout]]}},
                    {{daily, {0, 0}}, { asyncmind, run, ["/bin/tar czf ~/XDrive/terminal/history/full_backup_$(date +\\%Y\\%m\\%d).tar.gz --exclude=*.tar.gz --directory ~/XDrive/terminal/history .", [stdout]]}}

    ]}]},
{asyncmind, [
    {ws_port, 9091},
    {
      pools,
      [
        {tmux, [{size, 5}, {max_overflow, 10}], []}
      ]
    },
    {
        exec, [
        ]
    }
  ]
}
].
